@charset "UTF-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}

header> h1{
    text-align: center;
    color: brown;
    background-color: rgb(217, 219, 219);
    height: auto;
    width: auto;
    padding: 20px;
    margin-bottom:30px ;

}

header> h3{
    width: 400px;
    color: rgb(207, 53, 207);
    background-color: bisque;

}
nav> a{
    text-decoration: none;
    color: blue;
    background-color: rgba(0, 0, 0, 0.212);
}

nav> a:hover{
    text-decoration:underline;
}

section > #titulo{
    width: 500px;
    color: rgb(149, 149, 206);
    background-color: #f7f57f;
    cursor: pointer;
    
}

section > .historia{
  
    color: rgb(247, 21, 153);
    background-color: azure;
    display: none;
    /* transition: all 2s ; */
  

    
    
}


section:hover > .historia{
    display: block ;
}



#rodape{
    width: 400px;
    color: rgb(37, 151, 43);
    background-color: rgb(253, 238, 238);
}
strong{
    color: blueviolet;
}